<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <%= stylesheet_link_tag 'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

    <main>
        <div class="jumbotron">
            <div class="overlay">
                <h2>My Portfolio</h2>
                <p>Welcome to my portfolio. Here you can find my work and projects.</p>
                <%= link_to 'View My Work', portfolio_path, class: "button" %>
            </div>
            <div class="slideshow">
                <div class="slide" style="background-image: url('/path/to/image1.jpg');"></div>
                <div class="slide" style="background-image: url('/path/to/image2.jpg');"></div>
                <div class="slide" style="background-image: url('/path/to/image3.jpg');"></div>
            </div>
        </div>

        <div class="horizontal-scrolling-container">
            <button class="scroll-button left">&lt;</button>
            <div class="scrolling-content">
                <div class="scroll-item">Item 1</div>
                <div class="scroll-item">Item 2</div>
                <div class="scroll-item">Item 3</div>
                <div class="scroll-item">Item 4</div>
                <div class="scroll-item">Item 5</div>
            </div>
            <button class="scroll-button right">&gt;</button>
        </div>
    </main>

</body>
</html>
